

.button_w
{
    width: 100px
}

.content
{
    min-height: calc(100vh - 122px) ;
}

.price
{
    width: 100px;
    padding-left: 9px;
    margin-bottom: 10px;
    margin-left: auto;
    font-weight: bold;
}
.img_card
{
    height: 250px;
}



